<h2>Dashboard Categories </h2>
<%= render 'nav' %>

<% data= {} %>

<h3>distribution of products across categories</h3>
<% @categories.each do |category|%>
	<% data[category.name] = category.products.length %>
	<% end %>

	<%= pie_chart(data) %>
	<%= column_chart(data) %>
	<%= bar_chart(data) %>
	<%= line_chart(data) %>

<% sales_data = {} %>


<h3> sale of products by categories </h3>
<% @categories.each do |category| %>
	<% sales_data[category.name]= OrderLineItem.joins(:product).where('products.category_id = ?', category.id).length %>
	<% end %>
	<%= column_chart(sales_data) %>
	<%= pie_chart(sales_data) %>

<h3> Total sales Amount across categories </h3>
<% data_amount = {} %>
<% @categories.each do |category| %>
<% data_amount[category.name]= OrderLineItem.joins(:product).where('products.category_id=?',category.id).sum(:total) %>
<% end %>
<%= column_chart(sales_data) %>
<%= pie_chart(sales_data) %>