<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>
<ol>
<% @category.subcategories.each do |subcategory| %>
<li><%= link_to subcategory.name, subcategory_path(subcategory.id) %>
</li>

<ol>
<p><h3> listing products <%=subcategory.products.length %></p></h3>
<% subcategory.products.each do |product| %>
<li><%= link_to product.name, product_path(product.id) %> </li>
<ul>

<% product.reviews.each do |review| %>
<li><%= review.body %></li>
<% end %>

</ul>
<% end %>
</ol>
<% end %>
<% if user_signed_in? && current_user.is_admin%>
<%= link_to 'Edit', edit_category_path(@category) %> 
<%= link_to 'Back', categories_path %>
<% end %>
