<h2> Add Product </h2>
<%= form_for @product do |f| %>

	<% if @product.errors.any? %>
	<h3> These errors prohibited the form from being saved : </h3>
	<ul>
	<% @product.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
</ul>
	<% end %>

<label>code : </label><br />
<%= f.text_field :code, placeholder: "enter the code", autofocus:true %>

<label>Name: </label><br />
<%= f.text_field :name, placeholder: "enter the product name" %>
<span id="nameError"></span><br />
<label>Description : </label><br />
<%= f.text_area :description %> <br />
<label>Price: </label><br />
<%= f.number_field :price, min:1, step: "any" %><br />
<label>Category :</label><br /><br />
<%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Select Category" %><br /><br />
<label>Subcategory : </label><br /><br />
<%= f.collection_select :subcategory_id, [], :id, :name, prompt: "Select Category" %>
<label>Stock: </label><br /><br />
<%= f.text_field :stock %>
<label>code_eligible</label>
<%= check_box_tag :cod_eligible %>
<%=  f.submit %> or <%= link_to "back", products_path %>
<% end %>

<script>

var categoryHandle = document.getElementById('product_category_id');
	var subCategoryHandle = document.getElementById('product_subcategory_id');

	categoryHandle.addEventListener('change',function(){
	subCategoryHandle.innerHTML = "";
	if(categoryHandle.value !== ""){
		var xhr = new XMLHttpRequest();
		xhr.open('GET', '/ajax_calls/find_sub_categories?category_id=' + categoryHandle.value, true);
		xhr.onreadystatechange = function(){
		if(xhr.readyState === 4 && xhr.status === 200){
			var Subcategories = JSON.parse(xhr.responseText);
		Subcategories.forEach(function(Subcategory){
			var newElement = document.createElement('option'); 
			// <option> </option>
						var newText= document.createTextNode(Subcategory.name); // Fiction
						newElement.appendChild(newText); // <option>Fiction</option>
						newElement.setAttribute("value", Subcategory.id);
						// <option value="5">Fiction</option>;
						subCategoryHandle.appendChild(newElement);
					});
				}
			}
			xhr.send();
		} else {
			document.getElementById('productCount').innerHTML = ""
		}
	}, false);
</script>
