<h2><%= @product.name %></h2>
<p> INR: <%= @product.price %></p>
<p> DEtails: <%= @product.description %> </p>
<p> CATEGORY: <%= link_to @product.category.name %> </p>
<p> stock: <%= @product.stock %></p>
<p> code: <%= @product.code %> </p>
<p> cod_eligible: <%= @product.cod_eligible %></p>
<%= link_to "list products", products_path %>
<% if user_signed_in? && current_user.is_admin?%>
<%= link_to "edit", edit_product_path(@product.id) %>
<%= link_to "destroy", product_path(@product.id), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>


<%= form_for @cart_line_item do |f| %>
<%= f.label :quantity %>
<%= f.select :quantity, (1..10).to_a %> <br />
<%= f.hidden_field :product_id, value: @product.id %>
<% if user_signed_in? %>
<%= f.submit "Add to cart" %>

<% else %>
<p>login to add to cart </p>
<% end %>
<% end %>

<%= form_for @wishlist do |f| %>
<%= f.label :quantity %>
<%= f.hidden_field :product_id, value: @product.id %>
<% if user_signed_in? %>
<%= f.submit "add to wishlist" %>
<% else %>
<p> login to add to wishlist </p>
<% end %>
<% end %>






<% if user_signed_in? && current_user.is_admin %>
<%= form_for @review do |t| %>
<label> add review </label>
<%= t.text_field :body %><br />
<label> rating </label>
<%= t.select :rating, (1..5).to_a %>  <br />
<%= t.hidden_field :product_id, value: @product.id %>
<%= t.submit "add review" %>
<% end %>
<% end %>
<h3> Reviews </h3>
<ol>

<% @product.reviews.each do |t| %>
<li>reviews: <%= t.body %>
ratings:<%= t.rating %><br /><br /></li>
<% if user_signed_in?  && current_user.is_admin%>


<%= link_to "edit", edit_review_path(t.id) %>
<%= link_to "delete", review_path(t.id), method: :delete, data: {confirm:"are you sure?"} %>
<% end %>
<% end %>
</ol>
