<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <% if user_signed_in? %>
  <%= current_user.username %>
  <%= link_to "Account Settings", edit_user_registration_path %> | 
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>|
  <%= link_to "subcategory", subcategories_path%>|
     <%= link_to "categories", categories_path %> |<%= link_to "products", products_path %> 
 | <%= link_to "cart", cart_line_items_path %> <%=link_to "address", new_address_path %>
   <% else %>
  <%= link_to "Login", new_user_session_path %> | <%= link_to "Register", new_user_registration_path %> 

  <% end %>
<%= yield %>

   

</body>
</html>
